:root {
  --main-bg-color: #241124;
}
/* 
body {
  background-color: var(--main-bg-color);
} */

a {
  color: black;
  text-shadow: none;
}

/* DOUBLE COLOR */

.halfColor::after,
.halfColor::before {
  content: " ";
  position: absolute;
  height: 50%;
  left: 0;
  width: 100%;
  z-index: -1;
}

.halfColor::after {
  bottom: 0;
}

.halfColor::before {
  top: 0;
}

.halfColor::after {
  background-color: white !important;
}

.halfColor.inverted::before {
  background-color: white !important;
}

/* DARK PURPLE */

.halfColor::after {
  background-color: var(--main-bg-color);
}

.halfColor.darkPurple::before {
  background-color: var(--main-bg-color);
}

.halfColor.darkPurple.inverted::after {
  background-color: var(--main-bg-color) !important;
}
